@import "tailwindcss";

:root {
    --background: #fafaf9;
    --surface: #ffffff;
    --text-primary: #1c1917;
    --text-secondary: #57534e;
    --border: #e7e5e4;
    --accent: #d6d3d1;
}

body {
    background-color: var(--background);
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Garamond", serif;
}